/* Estilos generales para el formulario de registro */
.formulario-container {
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .formulario-container form {
    border-radius: 10px;
    height: 700px;
    width: 50vh;
    background: linear-gradient(290deg, #38bec0cd, #4e0867c5, #190114e7);
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .formulario-container img {
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .formulario-container label {
    font-size: 25px;
    font-weight: bold;
  }
  
  .formulario-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 20px;
    width: 320px;
  }
  
  .formulario-container p {
    color: red;
    margin-top: 5px;
    font-weight: bold;
  }
/*   
  .login {
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
  } */

  .login {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px; /* Esto agrega bordes redondos */
    padding: 5px 10px; /* Ajusta el relleno para un mejor aspecto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    transition: color 0.3s, background-color 0.3s; /* Efecto de transición */
  
    /* Efecto de brillo al pasar el mouse */
    &:hover {
      color: white;
      background-color: rgb(255, 0, 0);
    }
  }
  
  /* Cambios en el texto superior */
  span:first-child {
    font-size: 16px; /* Ajusta el tamaño de fuente */
    font-family: Arial, sans-serif; /* Cambia la fuente del texto */
  }
  
  .formulario-container button {
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    transition: background-color 0.3s;
    margin: 15px;
  }
  
  .formulario-container button:hover {
    background-color: #0858b4;
  }
  