/* Estilos generales para el formularioulario */
.formulario-container {
    background-image: url("../../resource/icons/landing.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .formulario-container form {
    border-radius: 10px;
    height: 60vh;
    width: 50vh;
    background: linear-gradient(290deg, #38bec0cd, #4e0867c5, #190114e7);
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fade-in 1s ease-in-out;
  }
  
  .formulario-container img {
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  
  .formulario-container label {
    font-size: 25px;
    font-weight: bold;
  }
  
  .formulario-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 20px;
    width: 320px;
  }
  
  .formulario-container p {
    color: red;
    margin-top: 5px;
    font-weight: bold;
  }

  .formulario-container button {
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    margin: 15px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .formulario-container button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }

  @keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* Desplazar hacia arriba */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}